/* *********************************
           Variables
  ********************************** */
/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
body {
  background: url('../images/nice_snow.png')
}

.navbar-inverse {
  background: rgba(62, 195, 246, 0);
  border-bottom: none;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(255, 255, 255, 0.75);
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #22F;
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
}

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: 2px;
  font-family: 'Great Vibes', cursive;
}

/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
  background: gold;
}

.big-logo {
  font-family: 'Great Vibes', cursive;
}
.big-logo-row .big-logo-container {
  padding-top: 210px;
  text-align: center;
}
.big-logo-row h1 {
  font-size: 4em;
  margin: 0;
  padding: 0 0 15px 0;
}
@media (min-width: 400px) {
  .big-logo-row h1 {
    font-size: 4.5em;
  }
}
@media (min-width: 440px) {
  .big-logo-row h1 {
    font-size: 5.5em;
  }
}
@media (min-width: 500px) {
  .big-logo-row h1 {
    font-size: 6.5em;
  }
}
@media (min-width: 630px) {
  .big-logo-row h1 {
    font-size: 7.5em;
  }
}
@media (min-width: 768px) {
  .big-logo-row h1 {
    font-size: 9em;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .big-logo-row h1 {
    font-size: 12em;
  }
}

.bio, .book, .homepage {
  margin-top: 75px;
  margin-bottom: 75px;
}

.homepage {
  margin-bottom: 0px !important;
}

.bio-1 {
  margin-top: 15px !important;
}

.bio p, .book p, .homepage p {
  font-family: 'Adamina', serif;
  line-height: 35px;
  font-size: 1.7rem;
}

.homepage h3 {
  font-family: 'Adamina', serif;
  font-size: 5rem;
}

.homepage-paragraph {
  margin-top: 8%;
}

.homepage-blog p {
  padding: 0 10%;
  font-family: 'Adamina', serif;
  line-height: 35px;
  font-size: 1.7rem;
}

.homepage-blog h4 {
  padding: 0 10%;
}

.homepage-blog img {
  margin: 28% 0;
}

.bio h2, .book h2, .homepage h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

.mail-list {
  height: auto;
  width: 100%;
  background-color: lightgrey;
  padding: 25px;
}

.mail-list input {
  width: 200px;
}

.vertical-container {
  height: auto;
  background-color: black;
  color: white;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.footer-navigation {
  list-style: none;
  text-align: left;
}

.footer-navigation a {
  color: white;
  font-size: 1.5rem;
  font-family: 'Adamina', serif;
}

.footer {
  padding: 25px;
}





.sabrina-pic { 
  position: absolute;
  top: -2%;
  left: 29%;
}

.bio-paragraph {
  padding: 5% 2%;
}



hr.style-seven {
    height: 30px;
    width: 75%;
    border-style: solid;
    border-color: grey;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: grey;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

